* {
  border: 1px solid red;
}
body {
  width: 900px;
  margin: 0 auto;
}
header {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 0;
}
header img {
  float: left;
  margin-top: 15px;
  margin-right: -2px;
}
header ul {
  list-style: none;
  float: right;
}
header ul li {
    display: inline-block;
}
#logo {
  float: left;
  list-style-type: none;
  padding: 15px 0 0 0;
}
#logo h1 {
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}
#logo p {
  font-size: 10px;
  margin-left: 10px;
}
hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
  margin: 20px 0;
  clear: both;
}

main h2 {
  font-family: 'Anton', sans-serif;
  font-size: 34px;
  margin-top: 40px;
}
#h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 11px;
  margin: 5px 0;
  color: gray;
}
.print {
  float: right;
  margin-bottom: 0;
}
#section1 img {
margin: 0 0 15px 0s;
}
#section1 p {
  line-height: 1.4em;
  text-indent: 15px;
  margin: 15px 0;
}
main ul {
  font-family: 'Coming Soon', cursive;
  margin-bottom: 25px;
}
